<div class="footer">
    <div class="wrapper">
        <div class="block1">
            <div class="inner-block1">
                <h3 class="links">HELPFUL LINKS</h3>
                <ul>
                    <li>
                        <a routerLink="/home" routerLinkActive="active">
                            Home
                        </a>
                    </li>
                    <li>
                        <a routerLink="/about" routerLinkActive="active">
                            About Us
                        </a>
                    </li>
                    <li>
                        <a routerLink="/contact" routerLinkActive="active">
                            Contact
                        </a>
                    </li>
                </ul>
            </div>
            <div class="inner-block2">
                <h3 class="links">HELP US SPREAD AROUND THE WORLD!</h3>
                <h4>Please help us spread the news about our awesome products.</h4>
                <div class="buttons">
                    <a href="//twitter.com/share?url=https://github.com/pp2-21B031177" target="_blank" class="share">
                        <img src="/assets/twitter-logo.png" class="mini-icon">Tweet
                    </a>
                    <a href="https://www.facebook.com/sharer/sharer.php?u=https://github.com/pp2-21B031177" target="_blank" class="share">
                        <img src="/assets/facebook-logo.png" class="mini-icon">Share
                    </a>
                    <a href="https://telegram.me/share/url?url=https://github.com/pp2-21B031177" target="_blank" class="share">
                        <img src="/assets/telegram-logo.png" class="mini-icon">Send
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>