<div class="topbar">
    <div>
        <a routerLink="/home" routerLinkActive="active">
            <img src="/assets/logo/logo square white bg.png" alt="logo" style="width: 150px; cursor: pointer;">
        </a>
    </div>
    <div style="margin: auto 0; display: flex;">
        <ul class="ul-list">
            <li><a routerLink="/home" routerLinkActive="active" class="hover">Home</a></li>
            <li><a routerLink="/products" routerLinkActive="active" class="hover">Products</a></li>
            <li><a routerLink="/about" routerLinkActive="active" class="hover">About</a></li>
            <li><a routerLink="/contact" routerLinkActive="active" class="hover">Contact</a></li>
            <li>
                <a routerLink="/cart" routerLinkActive="active">
                    <img src="/assets/cart.png" alt="logo" style="width: 24px;">
                </a>
            </li>
        </ul>
        <a routerLink="/login" routerLinkActive="active">
            <img src="/assets/login-icon.png" alt="login" style="width: 75px; cursor: pointer;">
        </a>
    </div>
</div>