<div class="wrapper"><app-topbar></app-topbar></div>
<div class="block1">
    <div class="wrapper2">
        <div class="text-block">
            <h1 class="promotion-text-h1">
                Moving or Remodeling?
            </h1>
            <h2 class="promotion-text-h2">
                Make Packing Easy With EcoBox
            </h2>
            <button class="get-started">GET STARTED</button>
        </div>
        <div class="img-block">
            <img src="https://cdn.shopify.com/s/files/1/0626/7230/6424/files/happy-family-that-just-moved_544x384.jpg?v=1647470470" alt="img" style="width: 100%;">
        </div>
    </div>
</div>
<div class="section-title"><h2>Moving Has Never Been Easier!</h2></div>
<div class="block2 wrapper">
    <div class="inner-block">
        <img src="https://cdn.shopify.com/s/files/1/0626/7230/6424/files/easy-green-box-delivery-icon_96x96.png?v=1647471505" class="mini-icon">
        <h1 class="feature-title">1. We Deliver</h1>
        <div class="rte">Order the number of boxes you need from our website and we will deliver them to your door.</div>
    </div>
    <div class="inner-block">
        <img src="https://cdn.shopify.com/s/files/1/0626/7230/6424/files/easy-green-box-icon_96x96.png?v=1647471526" class="mini-icon">
        <h1 class="feature-title">2. You Pack And Move</h1>
        <div class="rte">Use our durable, eco-friendly boxes to pack up your belongings and move them to your new location.</div>
    </div>
    <div class="inner-block">
        <img src="https://cdn.shopify.com/s/files/1/0626/7230/6424/files/hand-shake-icon_96x96.png?v=1647471553" class="mini-icon">
        <h1 class="feature-title">3. We Pick Up</h1>
        <div class="rte">After you've unpacked, we pick up your boxes on the date you specify at a time that's convenient for you.</div>
    </div>
</div>
<div class="block3">
    <div class="wrapper">
        <h1 class="promotion-title">EcoBox</h1>
        <h2 class="promotion-description">"EcoBox" is a startup that creates and sells eco-friendly moving boxes made from recycled and biodegradable materials. The company's goal is to reduce the number of cardboard boxes that end up in landfills and provide customers with a sustainable and convenient alternative to traditional cardboard boxes.</h2>
        <br>
        <h2 class="promotion-description">EcoBox has the supplies you need to pack for your move! In addition to our plastic moving boxes we offer labels, wardrobe boxes, moving dollies, packing paper, and security zip ties.</h2>
    </div>
</div>
<div class="block4 wrapper">
    <div class="inner-block4">
        <div>
            <img src="https://cdn.shopify.com/s/files/1/0626/7230/6424/files/easy-moving_576x384.jpg?v=1647471710" class="egb left">
        </div>
        <div style="margin: auto 0">
            <h1 class="promotion-title text1 right">
                Easy
            </h1>
            <h2 class="promotion-description text2 right">
                We deliver EcoBoxes to you and pick up the empty boxes from your new home. No need to buy, build, tape, break down or run around looking for cardboard boxes. EcoBoxes are affordable, ready to use and are 50 times stronger than cardboard.
            </h2>
        </div>
    </div>
    <div class="inner-block4">
        <div style="margin: auto 0">
            <h1 class="promotion-title text1 left">
                Green
            </h1>
            <h2 class="promotion-description text2 left">
                Traditional cardboard moving boxes last on average less than two uses and quite often are not recycled properly. Each EcoBox will be reused time and time again during its lifespan and when they are no longer usable we will ensure that the boxes are repurposed or recycled appropriately making the carbon footprint much lower than using cardboard moving boxes.
            </h2>
        </div>
        <div>
            <img src="https://cdn.shopify.com/s/files/1/0626/7230/6424/files/eco-friendly-easy-green_576x384.jpg?v=1647471781" class="egb right">
        </div>
    </div>
    <div class="inner-block4">
        <div>
            <img src="https://cdn.shopify.com/s/files/1/0626/7230/6424/files/eco-friendly-moving-boxes_576x384.jpg?v=1647471833" class="egb left">
        </div>
        <div style="margin: auto 0">
            <h1 class="promotion-title text1 right">
                Box
            </h1>
            <h2 class="promotion-description text2 right">
                EcoBoxes are durable, stack-able, high-density plastic boxes that will cut the cost of your packing supplies and protect your belongings during your move. They are assembled and ready to pack saving you time from constructing and disposing cardboard boxes. <br>Each box measures: 27”x 17”x 12”.
            </h2>
        </div>
    </div>
</div>
<app-footer></app-footer>